[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = putingferrari
	email = 60862945+putingferrari@users.noreply.github.com
